<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog Umanni" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <nav aria-label="Main Navigation">
      <%= link_to "Home", root_path, class: "btn btn-primary" %>
      <% if user_signed_in? %>
        <%= link_to "Nova Postagem", new_post_path, class: "btn btn-secondary" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { confirm: "Você tem certeza?" } %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %>
      <% end %>
    </nav>
    
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <p>Teste Felipe Umanni &copy; 2024</p>
    </footer>
  </body>
</html>
